.chatbot {
    position: relative;
    height: 100vh;
    width: 75%;
    padding: 25px;
}

.chatbot .chatbot-content {
    position: relative;
    height: 100%;
    padding: 20px;
    background: var(--foreground-color);
    border-radius: 25px;
    overflow-y: scroll;
}

.chatbot .chatbot-messages {
    display: flex;
    flex-direction: column;
}

.chatbot .chatbot-form {
    position: sticky;
    bottom: 25px;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    border-radius: 0 0 25px 25px;
    background: var(--foreground-color);
}

.chatbot .chatbot-form input {
    background: var(--background-color);
}