.message {
    display: flex;
    margin-bottom: 15px;
}

.message.message-user {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.message .user {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-color);
}

.message .content,
.message .options .option {
    max-width: 300px;
    padding: 8px 15px;
    font-size: 15px;
    color: var(--white);
    background: var(--background-color);
    border: 1px solid var(--grey-color);
    border-radius: 3px 15px 15px 15px;
}

.message .content-flex {
    margin-left: 15px;
}

.message.message-user .content-flex {
    margin: 0 15px 0 0;
}

.message.message-user .content {
    border-radius: 15px 3px 15px 15px;
}

.message .content .options {
    display: flex;
    flex-direction: column;
}

.message .content.short-content,
.message .options .option {
    border-radius: 25px;
}

.message .options .option:first-child {
    margin-top: 10px;
}

.message .options .option {
    margin-top: 7px;
    cursor: pointer;
}

.message .options .option.selected {
    background: var(--primary-color);
}

.message .options .option.selected .icon {
    margin-right: 7px;
}

.message .options .option span {
    display: flex;
    align-content: center;
}